<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>tjProject</title>
<style>
*{padding: 0;margin: 0;font-size: 16px}
</style>
</head>
<body>
  <div class="content">
    <form action="/index/add" method="post">
      <label>标题：</label><input name="title" type="text" placeholder="请输入标题"/>
      <label>作者：</label><input name="author" type="text" placeholder="请输入作者名称" />
      <label>内容：</label><textarea name="content" placeholder="请输入文章内容"></textarea>
      <input type="submit" value="提交" />
    </form>
  </div>
</body>
</html>